@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        font-family: 'Montserrat', sans-serif;
        line-height: 30px;
    }

    body h1,
    body h2,
    body h3,
    body h4,
    body h5,
    body h6 {
        font-family: 'Marcellus', serif;
        @apply my-5
    }

    .section {
        @apply py-20
    }

    .primary-button {
        @apply border-black border py-4 px-5
    }

    .heading {
        @apply lg:text-5xl md:text-4xl text-3xl
    }
}

.md-content h1, .md-content h2, .md-content h3, .md-content h4, .md-content h5, .md-content h6 {
    @apply font-medium mb-2 my-5;
    font-family: 'Marcellus', serif;
}

md.content p {
    @apply mt-2 mb-5 
}

.md-content h1 {
    @apply text-3xl;
}

.md-content h2 {
    @apply text-2xl;
}

.md-content h3 {
    @apply text-xl;
}

.md-content h4 {
    @apply text-lg;
}

.md-content p {
    @apply my-2;
}

.md-content ul, .md-content ol {
    @apply my-2 list-disc ml-5;
}

.md-content li {
    @apply my-1;
}

.heroWrapper{
    @apply w-full h-screen relative;
}

.heroContent{
    @apply flex flex-col items-center absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 lg:w-2/5 w-full;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, rgb(14 15 60 / 37%) 57.81%, rgb(14 15 60 / 85%) 100%);
    top: 0;
}

  .nav {
    position: fixed;
    width: 100vw;
    border-bottom: black 1px solid;
  }
  .nav-menu {
    height: 35px;
    overflow: hidden;
    transition: ease height 0.3s; /* <--- ease in */
  }
  .nav-menu-active {
    height: 120px; /* <--- set height */
    transition: ease height 0.3s; /* <--- ease out */
    margin-top: 35px; /* <--- same margin as ul */
  }
  .nav-menu ul {
    margin-top: 35px;
  }
  #toggle {
    position: absolute;
  }
  